.main_nav {
    background-color: rgb(7, 63, 85);
    padding: 10px;
}

.main_nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 20px !important;
    font-weight: 600;
}

.logo span {
    color: orange;
}

.main_nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.main_nav a:hover {
    text-decoration: none;
    color: #fff;
}
.search {
    display: inline-flex;
    width: 600px;
}

.search form {
    flex: 1;
}

.search input[type=text]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 100%;
}

.search svg {
    fill: orange;
    width: 20px;
    margin-left: -40px;
    cursor: pointer;
}

.user_account a {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #fff !important;
}

.shopping_cart a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping_cart span {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding-left: 10px;
}

.shopping_cart svg {
    width: 25px;
    fill: #fff;
}

